@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    background-color: rgb(48, 57, 57);
  }

#topbar {
    background-color: rgb(30, 44, 44);
    display: flex;
    height:  8vh;
}

.menuButton {
    transition: all 0.2s;

    color: rgb(48, 57, 57);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-image: 
    url(https://static.vecteezy.com/system/resources/previews/018/764/682/non_2x/white-coloured-pencil-scribble-paint-free-png.png);
    background-position: center;
    background-size: 300px 50px;
    background-repeat: no-repeat;

}
.menuButton:hover{
    opacity: 0.8;
}


#userRecc {
    height: 40vh;
}

#popularRecc {
    height: 40vh;
}

#bottomBar {
    background-color: rgb(30, 44, 44);
    height: 12vh;
}

h1{
    font-size:25px;
    font: bold;
    font-weight: bold;
    color: white;
}